# Ignore everything
*

# Do not ignore these directories
!dataset_preparation/dataset_preparation_for_preprocessing/
!dataset_preparation/dataset_preparation_for_fine-tuning/
!fine-tuning/
!util_folder/statistical_analysis/
!util_folder/
!testing_llms/
!README.md
!Inferencing.ipynb


# Do not ignore files within these directories
!dataset_preparation/dataset_preparation_for_preprocessing/**
!dataset_preparation/dataset_preparation_for_fine-tuning/**
!fine-tuning/**
!util_folder/statistical_analysis/**
!util_folder/**
!testing_llms/**